[General]
Name = orbslam
TargetBoard = miniitx,d
TargetPart = xc7z100ffg900-2
ReferenceDesign = timer
TargetOS = linux
TargetXil = vivado,2017.2
TargetHls = vivado,2017.2
SystemClock = System
CFlags = -I $(RECONOS)/linux/tools/timer -I application/orb_slam/include/ -I ../ -I ../Thirdparty/Pangolin/include -I /usr/include/eigen3/ -O3 -Wno-deprecated -Wno-unused-variable -Wno-deprecated-declarations -Wno-sign-compare -Wno-unused-label
LdFlags = -L $(RECONOS)/linux/tools/timer -ltimer -lstdc++ -lm `pkg-config --cflags --libs opencv` -L /opt/ros/dashing/lib/*.so -L ../Thirdparty/DBoW2/lib/  -L ../Thirdparty/g2o/lib/ -L ../Thirdparty/Pangolin/lib/ -lg2o -lDBoW2 -lpangolin -lGLEW -lGL -lGLU


#
# Clock definition [Clock@<clock_name>]
#
#   ClockSource - static or dynamic clock
#                   static
#                   dynamic
#   ClockFreq   - initial clock frequency
#
[Clock@System]
ClockSource = static
ClockFreq = 100000000

[Clock@Threads]
ClockSource = dynamic
ClockFreq = 120000000


#
# Specification of hardware thread slots [Thread@<slot_name>(<id_range>)]
#
#   Id               - id of the slot
#   Clock            - clock connected to the slot
#
[HwSlot@orbslam(0:1)]
Id = 0
Clock = Threads

#
# Resource definition [ResourceGroup@<group_name>]
#
#   <resource_name> - type,<optional arguments>
#
[ResourceGroup@Resources]
fast_request_0 = mbox, 16
fast_response_0 = mbox, 16
fast_request_1 = mbox, 16
fast_response_1 = mbox, 16

image_msg_left  = rosmsg, sensor_msgs, msg, Image
image_msg_right = rosmsg, sensor_msgs, msg, Image
geometry_msg_out = rosmsg, geometry_msgs, msg, Pose_Stamped
node = rosnode, "orbslam2_node"
sub_left = rossub, node, image_msg_left, "/stereo/left/image_raw", 10000
sub_right = rossub, node, image_msg_right, "/stereo/right/image_raw" , 10000
pub_out = rospub, node, geometry_msg_out, "/pose"

#
# Specification of thread types [ReconosThread@<thread_name>]
#
#   Slot          - slot to implement the hardware thread in
#                     <slot_name>(<id>)
#   HwSource      - source of the hardware thread
#                     vhdl
#                     hls
#   SwSource      - source of the software thread
#                     c
#   ResourceGroup - resources of the hardware thread
#                     <group_name>
#
[ReconosThread@fast]
Slot = orbslam(*)
#HwSource = vhdl
HwSource = hls
SwSource = c
ResourceGroup = Resources
